@import url('../global.css');

@media only screen and (max-width: 900px) {
  main {
    margin-left: 4rem;
    padding: 0;
    margin-bottom: 5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .heading {
    font-size: 3rem;
  }

  .form {
    padding: 1rem;
  }

  .form p {
    margin: 1.2rem;
  }

  .form input,
  .form textarea {
    font-size: 1.5rem;
  }

  .signup .content {
    flex-direction: column;
  }

  .signup .img-container img {
    height: 26rem;
    width: 30rem;
  }

  .form {
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  main {
    margin-left: 0rem;
  }

  .signup .img-container img {
    height: 20rem;
    width: 24rem;
  }
}
