@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

.signup .content .form .password-reset-msg {
  font-family: "Roboto Condensed";
}

.password-reset-guidelines ul>li {
  font-family: "Roboto Condensed";
  text-align: start;
  text-indent: 3rem;
}

@media only screen and (max-width: 900px) {
  .password-reset-guidelines ul>li {
    text-indent: 1rem;
    font-size: 1rem;
  }
}
